[package]
name = "human-panic"
version = "0.2.0"
license = "MIT OR Apache-2.0"
repository = "https://github.com/yoshuawuyts/human-panic"
homepage = "https://github.com/yoshuawuyts/human-panic"
documentation = "https://docs.rs/human-panic"
description = "Panic messages for humans"
authors = ["Yoshua Wuyts <yoshuawuyts@gmail.com>", 
           "Pascal Hertleif <killercup@gmail.com>",
           "Katharina Fey <kookie@spacekookie.de>"]
readme = "README.md"

[package.metadata.docs.rs]
features = ["nightly"]

[dependencies]
termcolor = "0.3"
tempdir = "0.3.7"
uuid = { version = "0.6", features = ["v4"] }
serde_derive = "1.0.38"
toml = "0.4.6"
serde = "1.0.38"
failure = "0.1.1"
os_type = "2.0.0"
backtrace = "0.3"

[features]
nightly = []
